* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #233746;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

/* Logo */
.logo img {
    width: 50px;
    height: auto;
}

/* Search Bar */
.search-bar {
    display: flex;
    margin: 0 20px;
    position: relative;
    align-items: center;
    background: #a7a1ff;
    border-radius: 20px;
    width: 600px;
    height: 33px;
}

.search-bar input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-right: 40px;
    background-color: #a7a1ff;
    color: #0e0e0e;
    font-size: 1.1rem;

}

.search-bar input::placeholder {
    color: #0d0e0e;
    opacity: 1;
}


.search-bar ion-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: black;
    cursor: pointer;
    background: none;
    border: none
}

.nav-items ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.nav-items ul li {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 1;
    right: 15px;
}

.nav-items ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}

.nav-items ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: #fff;
}

.nav-items ul li.active a .icon {
    transform: translateY(-5px);
}

.nav-items ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
    text-transform: capitalize;
}

.nav-items ul li.active a .text {
    opacity: 1;
    transform: translateY(15px);
}

.indicator {
    position: absolute;
    top: -3%;
    width: 75px;
    height: 75px;
    left: 995px;
    background-color: #0097e6;
    border-radius: 50%;
    border: 6px solid #2d3a44;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 30px;
    box-shadow: 1px -10px 0 0 #2d3a44;
}

.indicator::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 30px;
    box-shadow: 1px -10px 0 0 #2d3a44;
}

.nav-items ul li:nth-child(1).active~.indicator {
    transform: translateX(calc(70px*0));
}

.nav-items ul li:nth-child(2).active~.indicator {
    transform: translateX(calc(70px*1));
}

.nav-items ul li:nth-child(3).active~.indicator {
    transform: translateX(calc(70px*2));
}

.nav-items ul li:nth-child(4).active~.indicator {
    transform: translateX(calc(70px*3));
}

.nav-items ul li:nth-child(5).active~.indicator {
    transform: translateX(calc(70px*4));
}

.nav-items ul li:nth-child(6).active~.indicator {
    transform: translateX(calc(70px*5));
}

.nav-items ul li:nth-child(7).active~.indicator {
    transform: translateX(calc(70px*6));
}


.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-section img {
    width: 100%;
    height: 100vh;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-35%, -35%);
    font-size: 1.5rem;
    text-align: center;

}

.hero-text h1 {
    color: #088178;
}

.hero-text h4 {
    padding: 0 80px;
    padding-bottom: 15px;
}

.hero-text h2 {
    padding: 0 80px;
}

.hero-text p {
    padding: 15px 80px;
}

.hero-text button {
    background-image: url(button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}
.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 80px;
    margin-top: 40px;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box :hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);

}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;

}
#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}
.product1{
    padding: 40px 80px;
    text-align: center;
}
#product1 h2{
    font-size: 2.5rem;
    color:#088178;
}
#product1 p{
    margin-top: 10px;
    font-size: 1.2rem;
}
.product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}
.product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
.product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}
.product1 .pro img{
    width: 100%;
    border-radius: 20px;
}
.product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}
.product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}
.product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
.product1 .pro .des a{
    font-size: 12px;
    color: rgba(243,181,25);
}
.product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
.product1 .pro .cart-btn{
    width: 40px;
    height: 40px;
    line-height: 45px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
    font-size: 1.5rem;
}
.banner{
    margin: 40px 0;
}
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(b2.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
}
#banner h2{
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
}
#banner h2 span{
    color: #ef3636;
}
.btn{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
.btn:hover{
    background: #088178;
    color: #fff;
}
.sm-banner{
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(b17.jpg);
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
.sm-banner .banner-box2{
    background-image: url(b10.jpg);
}
.sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
.sm-banner h2{
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
.sm-banner span{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
.btn1{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
.sm-banner .banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}
.banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
.banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(b7.jpg);
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
.banner3 .banner-box2{
    background-image: url(b4.jpg);
}
.banner3 .banner-box3{
    background-image: url(b18.jpg);
}

.banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
.banner3 h3{
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
}
.newsletter{
    padding: 40px 80px;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(b14.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
}
.newsletter h4{
    font-size: 22px;
    font-weight: 700;
    color: #fff;
} 
.newsletter p{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
} 
.newsletter p span{
    color: #ffbd27;
} 
.newsletter .form{
    display: flex;
    width: 40%;
}
.newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.newsletter button{
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.section-p1{
    padding: 40px 80px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo1{
    width: 50px;
    height: auto;
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}
footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
}

/*Shop*/
.page-header{
    background-image: url(b1.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
.page-header h2,
.page-header p{
    color: #fff;
}
#pagination{
    text-align: center;
}
#pagination a{
   text-decoration: none;
   background-color: #088178;
   padding: 15px 20px ;
   border-radius: unset;
   color: #fff;
   font-weight: 600;
}
#pagination a i{
    font-size: 16px;
    font-weight: 600;
}

/* Single Product */

#prodetails{
    display: flex;
}

#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px ;
    margin-top: 70px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
    margin-top: 70px;
}

#prodetails .single-pro-details h4{
    padding: 20px 0 10px 0;
    font-size: 2rem;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}


#prodetails .single-pro-details button{
    background: #088178;
    color: #fff;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/* About Page */
#page-header1{
    background-image: url(banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#page-header1 h2,
#page-header1 p{
    color: #fff;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}
#about-app{
    text-align: center;
}
#about-app .video{
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}
#about-app .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Contact Page */
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width: 40%;
}
#contact-details .details span,
#form-details form span{
   font-size: 12px;
}
#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}
#contact-details .details li a{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}
#contact-details .map{
    width: 55%;
    height: 400px;
}
#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
   display: block;
   font-size: 16px;
   font-weight: 600;
   color: #000;
}

